BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
DerivePointerAlignment: false
Cpp11BracedListStyle: true

